@using Common
@using System.Configuration
@model ICurrentUser
@{
    var userinfo = DependencyResolver.Current.GetService<ICurrentUser>();
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
	@Styles.Render("~/Style")
</head>
<body class=" pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" id="headIcon" class="img-circle head-img" src="@Model.HeadIcon">
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold realname" >@Model.Name</strong>
                                    </span> <span class="text-muted text-xs block">Tools<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li class="divider"></li>
                                <li><a href="/Account/Logout">Logout</a></li>
                                <li><a id="uptpwd" href="javascript:void(0)">修改密码</a></li>
                                <li><a href="~/#/SysManager/PersonalCenter/Index">个人中心</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            EF
                        </div>
                    </li>
                    @Html.CreateMenuList(Url, Model)
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1" style="min-height: 794px;">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="javascript:;"><i class="fa fa-bars"></i> </a>
                       
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message"> @ConfigurationManager.AppSettings["HelloWorld"]</span>
                        </li>
                        <li>
                            <a href="/Account/Logout">
                                <i class="fa fa-sign-out"></i> 退出
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row border-bottom white-bg dashboard-header" id="MainBody">
            </div>
            <div class="footer">
                <div class="pull-right" id='localtime'>
                </div>
                <div>
                    @ConfigurationManager.AppSettings["Copyright"]
                </div>
            </div>
        </div>
    </div>
    <script>
        window.paceOptions = { ajax: { trackMethods: ['GET', 'POST'] }, eventLag: false, elements: false }
    </script>
    @Scripts.Render("~/Script")
    <script src="~/Content/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script> $(function () { Core.init(); }) </script>
</body>
</html>
